:root{

    --heading-color: #66bfbf;
}

.active{
    color:#eaf6f6 ;
}
.fistHalf{

    background:#eaf6f6;
    text-align: center;
    padding: 15px;
   
    
}
.headingH2{

    font-size: small;
    margin: 15px;
    font-weight: normal;
}
.btn{

    background: var(--heading-color);
    border: 1px solid var(--heading-color);
}
.btn:hover{

    color:var(--heading-color);
    background: white;
    border: 1px solid var(--heading-color);
}
.text{

    border: 1px solid #e7eaf6;
padding: 60px;
border-radius: 4px;
max-width: 500px;
margin-bottom: 20px;
}
.mama{
    width: 400px;
}
.tempo{
    width: 450px;
}
.content-container{
    padding: 160px 20px;
    text-align: center;
    padding: 0;
}
.content-container h1{

    font-size: 48px;
    line-height: 60px;
    margin-bottom: 30px;
}
.content-container h2{

    font-size: 18px;

}
.myFoto{

    width: 400px;
}
.content{
    padding: 30px;
}
.dic{

    width: 300px;
}
.work{

    background: #eaf6f6;
}
  .fontH3{

    font-family: 'Barlow', sans-serif;
font-family: 'Comfortaa', cursive;
  }
  .fontP{

    font-family: 'Barlow', sans-serif;
font-family: 'Comfortaa', cursive;
font-family: 'Ysabeau SC', sans-serif;
  }
.email{

    color: #66bfbf;
}
footer .contact-box{

    background: #eaf6f6;
    padding: 20px;
  
    margin: 50px;
}
@media (max-width:900px){

    .colTextH2{
    
        font-size: 15px;
    
    }
    .colTextP{
    
    font-size: 10px;
    }
    .btn{
    
        font-size: 10px;
    }
   
    }