:root{

    --heading-color: #66bfbf;
}


.fistHalf{

    background:#eaf6f6;
    text-align: center;
    padding: 15px;
   
    
}
.headingH2{

    font-size: small;
    margin: 15px;
    font-weight: normal;
}
.btn{

    background: var(--heading-color);
    border: 1px solid var(--heading-color);
}
.btn:hover{

    color:var(--heading-color);
    background: white;
    border: 1px solid var(--heading-color);
}
.text{

    border: 1px solid #e7eaf6;
padding: 60px;
border-radius: 4px;
}
@media (max-width:900px){

    .colTextH2{
    
        font-size: 15px;
    
    }
    .colTextP{
    
    font-size: 10px;
    }
    .btn{
    
        font-size: 10px;
    }
    }