:root{

    --heading-color: #66bfbf;
}


.fistHalf{

    background:#eaf6f6;
    text-align: center;
    padding: 15px;
   
    
}
h2{

    font-size: small;
    margin: 15px;
    font-weight: normal;
}
.btn{

    background: var(--heading-color);
    border: 1px solid var(--heading-color);
}
.btn:hover{

    color:var(--heading-color);
    background: white;
    border: 1px solid var(--heading-color);
}